.container.recommendations
  div
    ul.list-group
      li.list-group-item(ng-repeat="recommendation in recommendations track by recommendation.id")
        h4 
          a(href="{{recommendation.url}}", target="_blank") {{recommendation.title}}
        span {{recommendation.description}}
        br
        br
        div
          strong Type: 
          span {{recommendation.type.title}}
        div(ng-if="recommendation.tags.length")
          strong Tags: 
          span.label.label-primary.tag(ng-repeat="tag in recommendation.tags track by tag.id", ng-class) {{tag.title}} | {{tag.score}} 
