.container.recommendations
  div
    ul.list-group
      li.list-group-item(ng-repeat="recommendation in recommendations track by recommendation.id")
        h4 {{recommendation.title}}
        span {{recommendation.description}}
        br
        br
        strong Type: 
        span {{recommendation.type.title}}
        br
        strong Tags: 
        span.label.label-primary.tag(ng-repeat="tag in recommendation.tags track by tag.id", ng-class) {{tag.title}} | {{tag.score}} 
